.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Center vertically in the viewport */
}

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: rotation 0.7s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
