body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.blueText {
  color: blue;
}


.centeredText {
  text-align: center;
}

.redText {
  color: red;
  font-family: 'Roboto', sans-serif;
}

.bigText {
  font-size: 40px;
  font-style: italic;
  text-decoration: underline;
}

.square {
  height: 200px;
  width: 200px;
}

/* стили для круглого элемента */

.circle {
  height: 100px;
  width: 200px;
  border-radius: 16%;
}

.yellow {
  background-color: #DACC3E;
}
