body {
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  height: 15vh;
  background-color: #BB9019;
}

.main {
  display: flex;
  min-height: 800px;
  background-color: #15A543;
}

.footer {
  background-color: rgb(222, 135, 154);
  height: 10vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-end;
}

.card {
  border: 5px coral solid;
  padding: 15px;
  margin: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: cyan;
  width: 30%;
  height: 300px;
  border-radius: 5px;
}
